<%= stylesheet_link_tag "application", :media => "all" %>

<header>
    <h1><%= image_tag '5ch_logo.png', size: "120x70" %></h1>
    <nav>
        <ul>
            <li><%= link_to '掲示板', '/' %></li>
            <li><%= link_to '新規投稿', '/fivech/new' %></li>
    </nav>
</header>


<h1>スレッド 編集ページ</h1>


<section class="wrapper">
    <div class="container">
        <div class="content">
            <h2 class="heading">更新する内容</h2>
            <%= @fivech.content %>
            <%= form_tag("/fivech/#{@fivech.id}", method: :patch) do %>
                <input type="text" name="content">
                <input type="submit" value="編集する">
            <% end %>
        </div>
    </div>
</section>

<footer>
<p>© All rights reserved by Takuma.</p>
</footer>